@use "../common/variables.scss" as vars;

.advantages {
  text-align: center;
  background-color: #ffffff;
  counter-set: motive;
}

.advantages__panorama {
  background-color: vars.$base-color;
  text-align: center;

  @media (min-width: vars.$tablet-width) {
    grid-column: 1/-1;
  }
}

.advantages__panorama > .advantages__item {
  color: #ffffff;
}

.advantages__title {
  margin: 0;
  margin-bottom: 11px;
  text-transform: uppercase;

  &--white {
    color: #ffffff;
  }
}

.advantages__description {
  text-transform: uppercase;
  margin: 0;

  &::before {
    counter-increment: motive;
    content: "— №" counter(motive) " —";
    display: block;
    margin-bottom: 17px;
  }

  &--white {
    color: #ffffff;
  }
}

.advantages__subitem {
  background-color: #ffffff;
  list-style: none;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center 60px;
  background-size: 77px 72px;
  padding: 158px 33px 61px;
  min-height: 92px;

  @media (0 < width < vars.$tablet-width) {
    background-position: 0 23px;
    background-size: 39px 36px;
    text-align: left;
    min-height: 92px;
    padding: 23px 18px 0 47px;
  }


  &--house {
    background-image: url("../img/icon-house.svg");
  }

  &--gift {
    background-image: url("../img/icon-gift.svg");
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
  }
}

.advantages__subitem:last-child {
  @media (0 < width < vars.$tablet-width) {
    padding-bottom: 46px;
  }
}

.advantages__sublist {
  margin: 0;
  background-color: #ffffff;
  list-style: none;
  padding: 0;

  @media (0 < width < vars.$tablet-width) {
    padding: 0 var(--side-offset, 20px);
  }

  @media (min-width: vars.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 256px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  list-style: none;

  @media (min-width: vars.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 256px;
  }
}

.advantages__continuation {
  padding: 0;
  list-style: none;

  @media (min-width: vars.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 256px;
  }
}

.advantages__item {
  display: block;
  text-align: center;
  min-height: 256px;

  @media (min-width: vars.$tablet-width) {
    padding: 52px 33px 31px;
  }

  @media (min-width: vars.$desktop-width) {
    padding: 52px 50px;
  }

  @media (0 < width < vars.$tablet-width) {
    min-height: 211px;
    padding: 54px 18px 40px;

    &--grey {
      padding: 24px 26px;
      min-height: 165px;
    }
  }
}

.advantages__image {
  background-color: vars.$background-image-color;
  width: 100%;
  object-fit: cover;
  height: 260px;

  @media (min-width: vars.$tablet-width) {
    height: 256px;
  }
}

.advantages__wrapper {
  padding: 32px 31px 32px;
  min-height: 157px;
  text-align: center;

  @media (min-width: vars.$tablet-width) {
    padding: 47px 124px;
  }

  @media (min-width: vars.$desktop-width) {
    padding: 59px 359px 45px;
  }

  &::after {
    @media (width < vars.$tablet-width) {
      display: block;
      content: "";
      position: absolute;
      height: 57px;
      background-color: #ffffff;
      width: 100%;
      right: 0;
      clip-path: polygon(0 44%, 100% 44%, 100% 54%, 50% 100%, 0 54%);
    }
  }
}

.advantages__text {
  margin-top: 35px;

  @media (min-width: vars.$tablet-width) {
    margin-top: 39px;
  }
}

.advantages__subtitle {
  padding-bottom: 16px;

  @media (min-width: vars.$tablet-width) {
    padding-bottom: 23px;
  }
}

.advantages__grey-item {
  display: grid;
}

.advantages__picture {
  &--picture-right {
    @media (width >= vars.$tablet-width) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }

  &--picture-left {
    @media (width < vars.$tablet-width) {
      display: flex;
      flex-direction: column-reverse;
    }

    @media (width >= vars.$tablet-width) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
}
