@use "../common/variables.scss" as vars;

.advantages {
  background-color: #ffffff;
}

.advantages__panorama {
  background-color: vars.$base-color;
  text-align: center;
}

.advantages__panorama > .advantages__item {
  color: #ffffff;
}

.advantages__title {
  padding: 54px 18px 37px 18px;
  margin: 0;
  text-transform: uppercase;

  &--white {
    color: #ffffff;
  }
}

.advantages__description {
  text-transform: uppercase;

  &--white {
    color: #ffffff;
  }
}

.advantages__subitem {
  background-color: #ffffff;
  list-style: none;
  text-align: left;
}

.advantages__sublist {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  list-style: none;

  &--grey {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 256px 256px 256px;
      min-height: 256px;
    }

    @media (min-width: 1280px) {
      display: grid;
      grid-template-columns: 400px 400px 400px;
      min-height: 256px;
    }
  }
}

.advantages__item {
  text-align: center;
}

.advantages__image {
  background-color: vars.$background-image-color;
}

.advantages__wrapper {
  padding: 32px 18px 32px 18px;
  min-height: 157px;
  text-align: center;
}

.advantages__text {
  margin-top: 35px;
}

.advantages__subtitle {
  padding-bottom: 16px;
}

.advantages__subdescription {
  padding-bottom: 33px;
}

.advantages__grey-item {
  display: grid;
}

.advantages__picture {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 256px 512px;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 400px 800px;
  }
}
