@use "../common/variables.scss" as vars;

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 158px;
  padding: 0;
  background-image: url("../img/catalog/back-mobile.jpg");
  background-color: vars.$background-image-color;
  background-size: cover;
  position: relative;

  @media (resolution >= 2dppx) {
    background-image: url("../img/catalog/back-mobile@2x.jpg");
  }

  @media (min-width: vars.$tablet-width) {
    background-image: url("../img/catalog/back-tablet.jpg");
    min-height: 290px;

    @media (resolution >= 2dppx) {
      background-image: url("../img/catalog/back-tablet@2x.jpg");
    }
  }

  @media (min-width: vars.$desktop-width) {
    background-image: url("../img/catalog/back-desktop.jpg");
    min-height: 301px;

    @media (resolution >= 2dppx) {
      background-image: url("../img/catalog/back-desktop@2x.jpg");
    }
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    height: 26px;
    background-color: #ffffff;
    width: 100%;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 0, 50% 100%, 100% 0, 100% 100%);

    @media (width >= vars.$tablet-width) {
      clip-path: polygon(0 100%, 0 15%, 10% 44%, 10% 0, 50% 97%, 90% 0, 90% 44%, 100% 15%, 100% 100%);
      max-width: 1200px;
    }
  }
}

.back__wrapper {
  text-align: center;
}
