@use "../common/variables.scss" as vars;

.button {
  font-family: inherit;
  margin: 0;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0deg 0% 100% / 100%);
  background-color: vars.$base-color;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: hsl(203deg 42% 58% / 100%);
  }

  &:active {
    background-color: hsl(202deg 44% 54% / 100%);
    color: hsl(0deg 0% 100% / 30%);
  }

  &:disabled {
    background-color: hsl(0deg 0% 90% / 100%);
    cursor: default;
  }
}
