@use "../common/variables.scss" as vars;

.catalog-photo {
  position: relative;
  margin: 0;
  width: 100%;

  @media (vars.$tablet-width <= width < vars.$desktop-width) {
    background-color: #f2f2f2;
  }
}

.catalog-photo:nth-child(2n+3) {
  @media (vars.$tablet-width <= width < vars.$desktop-width) {
    background-color: #e5e5e5;
  }
}
