.control {
  position: relative;
  padding: 10px 0 10px 62px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.control__mark {
  position: absolute;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  left: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.control__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.control__input--check:checked + .control__mark::before {
  display: block;
  width: 22px;
  height: 16px;
  margin-top: 16px;
  margin-left: 12px;
  content: " ";
  mask-image: url("../img/stack.svg#checkmark");
  background-color: #333333;
  background-repeat: no-repeat;
}

.control__input--radio + .control__mark {
  border-radius: 50%;
}

.control__input--radio:checked + .control__mark::before {
  position: absolute;
  margin: 15px;
  width: 16px;
  content: " ";
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}

.control__mark:hover {
  background-color: #e5e5e5;
}

.control:active .control__mark {
  background-color: #d5d5d5;
}

.control:active .control__mark::before {
  background-color: hsl(0deg 0% 20% / 30%);
}
