@use "../common/variables.scss" as vars;

.description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;

  br {
    display: none;
  }

  @media (min-width: vars.$tablet-width) {
    br {
      display: initial;
    }
  }
}
