@use "../common/variables.scss" as vars;

.development__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.development__link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.development-icon-path {
  fill: #000000;
}

.development__link:hover .development-icon-path,
.development__link:focus .development-icon-path {
  fill: vars.$base-color;
}

.development__link:active .development-icon-path {
  fill: #b3b3b3;
}

.development__link:hover .development__text,
.development__link:focus .development__text {
  color: vars.$base-color;
}

.development__link:active .development__text {
  color: #b3b3b3;
}
