.development__text {
  font-size: 21px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.development__link {
  text-align: center;
  text-decoration: none;
}
