@use "../common/variables.scss" as vars;

.fieldset-form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (width < vars.$tablet-width) {
    padding: 0 var(--side-offset, 20px);
    margin-top: 71px;
  }
}

.fieldset-form {
  &--textarea {
    @media (min-width: vars.$tablet-width) {
      margin: 42px 60px 48px;
      border-top: 1px solid #e5e5e5;
    }

    @media (min-width: vars.$desktop-width) {
      margin: 56px 120px 48px;
      border-top: 1px solid #e5e5e5;
    }
  }
}

.fieldset-form__title {
  padding: 0;

  &--textarea {
    @media (min-width: vars.$tablet-width) {
      width: 400px;
      margin-bottom: 10px;
    }
  }
}

.fieldset-form__input {
  padding: 12px 0 12px 12px;
}


.fieldset-form__item {
  display: flex;
  flex-flow: column wrap;
}

.fieldset-form-block {
  position: relative;

  @media (min-width: vars.$tablet-width) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 57px;
    margin-left: 60px;
    margin-right: 60px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      translate: -50% 0;
      width: 1px;
      height: 104%;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: vars.$desktop-width) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 101px;
    margin-left: 120px;
    margin-right: 120px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      translate: -50% 0;
      width: 1px;
      height: 104%;
      background-color: #e5e5e5;
    }
  }
}

.fieldset-form__label {
  margin-left: 16px;
}
