@use "../common/variables.scss" as vars;

.fieldset-properties {
  text-align: center;

  @media (width < vars.$tablet-width) {
    float: left;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 20px;
  }

  @media (min-width: vars.$tablet-width) {
    padding-left: 67px;
    padding-right: 67px;
  }
}

.fieldset-properties-line {
  padding: 0;
  border: none;
  margin-bottom: 24px;

  @media (width < vars.$tablet-width) {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #e5e5e5;
  }

  @media (min-width: vars.$tablet-width) {
    border-top: 1px solid #e5e5e5;
    margin: 63px 60px 0;
  }

  @media (min-width: vars.$desktop-width) {
    border-top: 1px solid #e5e5e5;
    margin: 71px 120px 0;
  }

  &--grid {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 56px;

    @media (width < vars.$tablet-width) {
      margin-top: 28px;
      border-width: 1px 0 0;
      border-style: solid;
      border-color: #e5e5e5;
    }
  }
}
