@use "../common/variables.scss" as vars;

.fieldset-properties {
  margin-left: auto;
  margin-right: auto;

  @media (width < vars.$tablet-width) {
    float: left;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  @media (min-width: vars.$desktop-width) {
    padding: 0 79px;
  }
}

.fieldset-properties-line {
  padding: 0;
  border: none;
  margin-bottom: 24px;

  @media (width < vars.$tablet-width) {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #e5e5e5;
  }

  @media (min-width: vars.$tablet-width) {
    border-top: 1px solid #e5e5e5;
    margin: 41px 60px 0;
  }

  @media (min-width: vars.$desktop-width) {
    border-top: 1px solid #e5e5e5;
    margin: 42px 120px 0;
  }

  &--check {
    @media (min-width: vars.$tablet-width) {
      margin: 50px 70px 0;
    }

    @media (min-width: vars.$desktop-width) {
      margin: 72px 120px 0;
  }
}

  &--grid {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 38px;

    @media (width < vars.$tablet-width) {
      margin-top: 29px;
      border-width: 1px 0 0;
      border-style: solid;
      border-color: #e5e5e5;
    }
  }
}
