@use "../common/variables.scss" as vars;

.fieldset-top {
  margin-top: 16px;

  &--first {
    margin-top: 27px;
  }

  &--last {
    @media (min-width: vars.$desktop-width) {
    margin-left: -17px;
    }
  }
}
