.fieldset-form__list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.fieldset-form {
  margin-top: 48px;
  border: none;
}

.fieldset-form__title {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.fieldset-form__input {
  padding: 16px 0 16px 16px;
}

.fieldset-form__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 16px;
}

.fieldset-form-block {
  @media (min-width: 768px) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 280px 298px;
  }

  @media (min-width: 1280px) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 430px 402px;
  }
}
