.footer {
  background-color: #ffffff;
}

.footer__hashtag {
  text-align: center;
}

.footer__development {
  display: block;
  text-align: center;
}

.footer__social {
  display: block;
  text-align: center;
}
