.header {
  background-color: hsla(0, 0%, 100%, 1);
}

.header__logo {
  height: 96px;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

.logo-sedona-image {
  position: relative;
}
