@use "../common/variables.scss" as vars;

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 389px;
  background-image: url("../img/hero-mobile.jpg");
  background-color: vars.$background-image-color;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: vars.$tablet-width) {
    background-image: url("../img/hero-tablet.jpg");
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: vars.$desktop-width) {
    min-height: 518px;
    background-image: url("../img/hero-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    height: 57px;
    background-color: #ffffff;
    width: 100%;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 0, 50% 100%, 100% 0, 100% 100%);

    @media (width >= vars.$tablet-width) {
      clip-path: polygon(0 100%, 0 15%, 10% 44%, 10% 0, 50% 97%, 90% 0, 90% 44%, 100% 15%, 100% 100%);
      max-width: 1200px;
    }
  }
}

.hero__logo {
  object-fit: cover;
  width: 100%;
}
