@use "../common/variables.scss" as vars;

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 389px;
  background-image: url("../img/hero.jpg");
  background-color: vars.$background-image-color;
  background-size: cover;

  @media (min-width: 768px) {
    min-height: 518px;
    background-image: url("../img/hero-tablet.jpg");
  }

  @media (min-width: 1280px) {
    min-height: 518px;
    background-image: url("../img/hero-desktop.jpg");
  }
}

.hero__logo {
  width: 282px;
  height: 214px;

  @media (min-width: 768px) {
    width: 461px;
    height: 350px;
  }

  @media (min-width: 1280px) {
    width: 460px;
    height: 350px;
  }
}
