@use "../common/variables.scss" as vars;

.title {
    br {
      display: none;
    }

    @media (min-width: vars.$tablet-width) {
      br {
        display: initial;
      }
    }
}

.description {
  br {
    display: none;
  }

  @media (min-width: vars.$tablet-width) {
    br {
      display: initial;
    }
  }
}

.advantages__description {
  &--br {
    br {
      display: none;
    }

    @media (min-width: vars.$desktop-width) {
      br {
        display: initial;
      }
    }
  }
}

.advantages__subdescription {
  &--br {
    br {
      display: none;
    }

    @media (min-width: vars.$desktop-width) {
      br {
        display: initial;
      }
    }
  }
}

.modal-title-error {
  &--br {
    br {
      display: none;
    }

    @media (min-width: vars.$tablet-width) {
      br {
        display: initial;
      }
    }
  }
}

.modal-feedback-text {
  &--br {
    br {
      display: initial;
    }
  }
}
