@use "../common/variables.scss" as vars;

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/map-mobile.jpg");
  background-color: vars.$background-image-color;

  @media (0 < width < vars.$tablet-width) {
    margin-bottom: 13px;
  }

  @media (resolution >= 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: vars.$tablet-width) {
    background-image: url("../img/map-tablet.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: vars.$desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.map iframe {
  width: 100%;
  display: block;
  border: none;
}
