@use "../common/variables.scss" as vars;

.modal-error {
  width: 320px;
  min-height: 280px;
  position: relative;
  margin: auto;
  padding: 0 45px;
  box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
  background-color: #ffffff;
  text-align: center;

  @media (min-width: vars.$tablet-width) {
    width: 400px;
    min-height: 347px;
    padding: 0 47px;
  }
}

.modal-error__button {
  padding: 16px 64px;
  width: 180px;
  font-size: 18px;
  height: 58px;
  margin-bottom: 40px;

  @media (min-width: vars.$tablet-width) {
    width: 272px;
    font-size: 21px;
  }
}

.modal-error__text {
  margin-bottom: 27px;

  @media (min-width: vars.$tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: vars.$desktop-width) {
    margin-bottom: 48px;
  }
}

.modal-error__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: vars.$tablet-width) {
    margin-top: 7px;
  }
}

.modal-error__title {
  margin-top: 43px;
  margin-bottom: 25px;

  @media (min-width: vars.$tablet-width) {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 40px;
    margin-top: 36px;
  }

  @media (min-width: vars.$desktop-width) {
    margin-top: 46px;
  }

  &--br {
    br {
      display: none;
    }

    @media (min-width: vars.$tablet-width) {
      br {
        display: initial;
      }
    }
  }
}
