@use "../common/variables.scss" as vars;

.modal-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(0deg 0% 0% / 30%);
  z-index: 12;

  &[hidden] {
    display: none;
  }
}

.modal-container__content {
  max-height: 90vh;
  overflow-y: auto;
}
