.page {
  height: 100%;
  background-color: hsla(0, 0%, 95%, 1);
}

.page__body {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  background-color: hsla(0, 0%, 100%, 1);
  color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page__header,
.page__main,
.page__footer {
  text-align: center;
}

.page__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
