@use "../common/variables.scss" as vars;

.page {
  height: 100%;
  background-color: hsla(0, 0%, 95%, 1);
}

.page__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  font-family: "PT Sans", sans-serif;
  background-color: hsla(0, 0%, 100%, 1);
  color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page__footer {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 30px;
  padding: 33px 20px;

  @media (width >= vars.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 33px 20px;
  }
}

.page__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__main {
  flex-grow: 1;
}
