.photo-list {
  display: grid;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-list__title {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: 1280px) {
    color: #ffffff;
  }
}

.photo-list__description {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  @media (min-width: 1280px) {
    color: #ffffff;
  }
}

.photo-list-like {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.photo-list__image {
  &--panorama {
    @media (min-width: 768px) {
      width: 648px;
      height: 400px;
      background-image: url("../img/catalog/non-native-spaces-tablet.jpg");
    }

    @media (min-width: 1280px) {
      width: 1200px;
      height: 400px;
      background-image: url("../img/catalog/non-native-spaces-desktop.jpg");
    }
  }
}
