@use "../common/variables.scss" as vars;

.photo__list {
  display: grid;
  background-color: #ffffff;
  margin: 0;
  list-style: none;
  object-fit: cover;
  width: 100%;
  padding: 0 var(--side-offset, 20px);

  @media (min-width: vars.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--side-offset, 60px);
  }

  @media (min-width: vars.$desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.photo__title {
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  @media (width < vars.$tablet-width) {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  @media (min-width: vars.$desktop-width) {
    color: #ffffff;
  }
}

.photo__description {
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  @media (width < vars.$tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: vars.$desktop-width) {
    color: #ffffff;
  }
}
