@use "../common/variables.scss" as vars;

.photo-posts__info {
  @media (min-width: vars.$tablet-width) {
    padding: 22px 20px 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  @media (min-width: vars.$desktop-width) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
  }
}
