@use "../common/variables.scss" as vars;

.photo-posts__item {
  @media (width < vars.$tablet-width) {
    padding-top: 24px;
    border-bottom: 1px solid #e5e5e5;
  }

  &--panorama {
    grid-column: 1/-1;

    @media (width < vars.$tablet-width) {
      border-top: 1px solid #e5e5e5;
    }
  }
}

.photo-posts__item > .photo-posts__image {
  width: 100%;
  object-fit: cover;
  height: 280px;
}
