@use "../common/variables.scss" as vars;

.photo-posts__like {
  font-family: "PT Sans";
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 26px;

  @media (width < vars.$tablet-width) {
    margin-bottom: 27px;
  }
}

.like-fill {
  fill: #000000;
  opacity: 0.3;

  @media (min-width: vars.$desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}

.like {
  margin-left: 4px;
}

.photo-posts__like .like {
  margin-left: 10px;
}
