@use "../common/variables.scss" as vars;

.photo-posts__like {
  font-family: inherit;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 26px;
  margin-top: 6px;

  @media (width < vars.$tablet-width) {
    margin-bottom: 26px;
    margin-top: 1px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.photo-posts__like-fill {
  fill: #000000;
  opacity: 0.3;

  @media (min-width: vars.$desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}

.photo-posts__like .like {
  margin-left: 10px;

  @media (min-width: vars.$tablet-width) {
    margin-left: 6px;
  }
}
