@use "../common/variables.scss" as vars;

.photo-posts__info {
  @media (min-width: vars.$tablet-width) {
    padding: 22px 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  @media (min-width: vars.$desktop-width) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    inset: auto 0 0;
    background-color: hsl(0deg 0% 0% / 30%);
  }
}
