@use "../common/variables.scss" as vars;

.photo-video {
  background-color: #ffffff;
}

.photo-video__wrapper {
  text-align: center;
  padding: 67px 95px 67px;


  @media (width < vars.$tablet-width) {
    padding: 0 var(--side-offset, 20px);
    margin-top: 30px;
    margin-bottom: 42px;
  }

  @media (min-width: vars.$tablet-width) {
    padding: 67px 95px 68px;
  }
}

.photo-video__description {
  margin-top: 38px;
}

.photo-video__title {
  @media (width >= vars.$tablet-width) {
    margin: 0;
    font-size: 30px;
  }
}
