@use "../common/variables.scss" as vars;

.review {
  text-align: center;
}

.review__title {
  margin: 0;

  @media (min-width: vars.$tablet-width) {
    font-size: 30px;
  }
}

.review__description {
  margin-top: 21px;

  @media (min-width: vars.$desktop-width) {
    margin-top: 31px;
  }
}

.review__wrapper {
  @media (width < vars.$tablet-width) {
    padding: 38px 20px 0;
  }

  @media (min-width: vars.$tablet-width) {
    padding: 64px 106px 108px;
  }

  @media (min-width: vars.$desktop-width) {
    padding: 115px 106px 68px;
  }
}
