@use "../common/variables.scss" as vars;

.review-form__button {
  font-size: 21px;
  padding: 16px 49px 16px 49px;
  margin-top: 56px;
}

.review-form__legend {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: hsla(0, 0%, 20%, 0.6);
  text-transform: uppercase;
}

.note {
  @media (width < vars.$tablet-width) {
    margin-left: auto;
  }
}

.review-form__note {
  @media (width < vars.$tablet-width) {
    padding: 0 var(--side-offset, 20px);
  }

  @media (min-width: vars.$tablet-width) {
    padding: 0 var(--side-offset, 60px);
  }

  @media (min-width: vars.$tablet-width) {
    padding: 0 var(--side-offset, 120px);
  }

  @media (width >= vars.$tablet-width) {
    display: flex;
  }
}
