@use "../common/variables.scss" as vars;

.review-form__button {
  font-size: 21px;
  padding: 16px 49px 16px 48px;

  @media (0 < width < vars.$tablet-width) {
    margin-top: 38px;
  }

  @media (min-width: vars.$tablet-width) {
    width: 324px;
  }

  @media (min-width: vars.$desktop-width) {
    width: 384px;
  }
}

.review-form__legend {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.review-form__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: hsl(0deg 0% 20% / 60%);
  text-transform: uppercase;

  @media (width < vars.$tablet-width) {
    margin-top: 3px;
  }

  @media (min-width: vars.$tablet-width) {
    font-size: 14px;
  }
}

.review-form__note {
  display: flex;
  margin-bottom: 64px;

  @media (width < vars.$tablet-width) {
    padding: 0 var(--side-offset, 20px);
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 27px;
    margin-top: -7px;
  }

  @media (min-width: vars.$tablet-width) {
    padding: 0 var(--side-offset, 60px);
    display: flex;
    margin-top: 47px;
    align-items: baseline;
  }

  @media (min-width: vars.$desktop-width) {
    padding: 0 216px;
    margin-top: 49px;
  }
}
