.review-form__button {
  font-size: 21px;
  padding: 16px 49px 16px 49px;
  margin-top: 32px;
}

.review-form__legend {
  font-family: inherit;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: hsla(0, 0%, 20%, 0.6);
  text-transform: uppercase;
}
