@use "../common/variables.scss" as vars;

.search-hotel {
  margin-bottom: 49px;
  background-color: #ffffff;
  text-align: center;

  @media (min-width: vars.$tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: vars.$desktop-width) {
    margin-bottom: 66px;
  }
}

.search-hotel__title {
  text-transform: uppercase;
}

.search-hotel__description {
  margin-top: 21px;
}

.search-hotel__button {
  padding: 16px 49px;
  width: 458px;

  @media (0 < width < vars.$tablet-width) {
    padding: 16px 49px;
    width: 284px;
  }
}

.search-hotel__wrapper {
  @media (0 < width < vars.$tablet-width) {
    padding: 42px 29px 32px 29px;
  }

  @media (min-width: vars.$tablet-width) {
    padding: 60px 166px 45px;
  }
}
