.search-hotel {
  background-color: #ffffff;
  text-align: center;
}

.search-hotel__title {
  margin: 0;
  margin-top: 39px;

  &--larger-text {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
  }
}

.search-hotel__description {
  margin-top: 39px;
}

.search-hotel__button {
  padding: 16px 49px 16px 50px;
  margin-top: 32px;
}
