.social__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  gap: 6px;
  padding: 0;
  text-align: center;
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 48px;
  height: 48px;
}

.social__path {
  fill: #ffffff;

  &:active {
    opacity: 0.3;
  }
}
