@use "../common/variables.scss" as vars;

.title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

    br {
      display: none;
    }

    @media (min-width: vars.$tablet-width) {
      br {
        display: initial;
      }
    }

  &--large {
    font-size: 21px;
  }

  @media (min-width: vars.$tablet-width) {
    font-size: 21px;

    &--large {
      font-size: 30px;
    }
  }
}
