@use "../common/variables.scss" as vars;

.title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: vars.$tablet-width) {
    font-size: 21px;
  }
}
