@use "../common/variables.scss" as vars;

.video {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.video__wrapper {
  padding: 0;

  @media (width < vars.$tablet-width) {
    padding: 0 23px 39px 25px;
  }

  @media (min-width: vars.$tablet-width) {
    padding: 60px 102px 87px;
  }
}

.video__title {
  margin: 0;

  @media (width < vars.$tablet-width) {
    margin-top: 17px;
  }

  @media (width >= vars.$tablet-width) {
    font-size: 30px;
  }
}

.video__description {
  margin-top: 26px;

  @media (min-width: vars.$tablet-width) {
    margin-top: 28px;
  }

  @media (min-width: vars.$desktop-width) {
    margin-top: 32px;
  }
}

.video-presentation {
  position: relative;

  @media (width < vars.$tablet-width) {
    padding: 0 var(--side-offset, 20px);
  }

  @media (min-width: vars.$tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: vars.$desktop-width) {
    margin-bottom: 79px;
  }
}

.video-presentation__play {
  width: 48px;
  height: 54px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
