.video-presentation {
  text-align: center;
}

.video-presentation__title {
  margin: 0;
  margin-top: 37px;
}

.video-presentation__description {
  margin-top: 39px;
  margin-bottom: 38px;
}

.video-presentation__image {
  width: 100%;
  object-fit: cover;
}
