@use "../common/variables.scss" as vars;

.video-presentation {
  position: relative;

  @media (width < vars.$tablet-width) {
    padding: 0 var(--side-offset, 20px);
  }

  @media (min-width: vars.$tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: vars.$desktop-width) {
    margin-bottom: 79px;
  }
}

.video-presentation__play {
  width: 48px;
  height: 54px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.video-presentation__image {
  background-color: vars.$base-color;
}
