@use "../common/variables.scss" as vars;

.video {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.video__wrapper {
  padding: 0;

  @media (width < vars.$tablet-width) {
    padding: 0 23px 39px 25px;
  }

  @media (min-width: vars.$tablet-width) {
    padding: 53px 109px 89px;
  }

  @media (min-width: vars.$desktop-width) {
    padding: 60px 102px 87px;
  }
}

.video__title {
  margin: 0;

  @media (width < vars.$tablet-width) {
    margin-top: 17px;
  }

  @media (width >= vars.$tablet-width) {
    font-size: 30px;
  }
}

.video__description {
  margin-top: 26px;

  @media (min-width: vars.$tablet-width) {
    margin-top: 35px;
  }

  @media (min-width: vars.$desktop-width) {
    margin-top: 32px;
  }
}
