.advantages {
  background-color: #FFFFFF;
}

.advantages__title {
  text-transform: uppercase;

  &--white {
    color: #FFFFFF;
  }
}

.advantages__description {
  text-transform: uppercase;

  &--white {
    color: #FFFFFF;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  background-color: #FFFFFF;

  &--colored-blue {
    background-color: #81B3D2;
  }

  &--colored-grey {
    background-color: #D6D6D6;
  }
}

.advantages__image {
  background-color: #3699BD;
}
