.search-hotel {
  background-color: #ffffff;
}

.search-hotel__title {
  &--larger-text {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
  }
}
